.btn{
    border: 3px solid black;
    font-size: 20px;
    padding: 4px;
    width: 150px;
    border-radius: 0px;
}

.round{
width: 80%;
height: 127%;
display: flex;
color: #fff;
align-items: center;
text-align: center;
position: relative; /* allows repositioning */
}



.line{
    border: 1px solid gray;
}

/*card*/
.card {
    box-shadow: 8px 8px 8px 4px rgba(0, 0, 0, 0.5); /* this adds the "card" effect */
  }

.left-content{
    position: absolute;
    margin-top: -120px;
    margin-left: 154px;
}

.button1{
    border: 3px solid white;
    font-size: 15px;
    padding: 3px;
    width: 120px;
    border-radius: 0px;
}


.btn1{
    border: 0px;
    font-size: 9px;
    padding: 4px;
    width: 50px;
    border-radius: 0px;
    background-color: rgb(0, 0, 0,0.7);
    border-radius: 25px;
    color: white;
    letter-spacing: 1px;
}

/*.overlay{
    background-color: rgba(0, 0, 0, 0.55);
    position: absolute;
  }*/