/*HomePage*/
.navbar {
    transition: all 0.4s;
}

.home-text{
  color: white; 
  font-family: Montserrat; 
  font-size: 60px;
}

.lead-para{
  color: white; 
  font-family: Montserrat; 
  font-size: 32px;
}


/* Change navbar styling on scroll */
.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #555;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}


/* Change navbar styling on small viewports*/ 
@media (max-width: 991.98px) {
    .navbar {
        background: #fff;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }
}

.text-small {
    font-size: 0.9rem !important;
}

.header{
    background-image: url('./Images/HomePage.jpg');
    background-position: center;
    background-size: cover;  
  }

  .overlay{
    background-color: rgba(0, 0, 0, 0.55);
  }

  .nav-item{
      color:white;
  }


/*button*/
.button {
    display: inline-block;
    border-radius: 8px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(133, 30, 30,0.3);
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 6px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 3px;
    margin-bottom: 29%
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }


/*About us*/
  .btn{
    
    font-size: 20px;
    padding: 4px;
    width: 150px;
    border-radius: 0px;
}

.round{
  width: 93%;
  height: 131%;
  display: flex;
  color: #fff;
  align-items: center;
  text-align: center;
  position: relative; /* allows repositioning */
}

.line{
    border: 1px solid gray;
}

.over{
  height:83%; width: 108%;
}

.about-us{
  margin-bottom: 4%;
}


/*cards on about us*/
 /*about us content*/
    
 .card-social {
  box-shadow: 8px 8px 8px 4px rgba(0, 0, 0, 0.5); /* this adds the "card" effect */
  float: left;
 height: 113%;
}

.card-social img{
 height: 101%;
}

.card-wedding {
      box-shadow: 8px 8px 8px 4px rgba(0, 0, 0, 0.5); /* this adds the "card" effect */
      float: left;
      margin-left: 6%;
     height: 113%;
}

.card-wedding img{
 height: 101%;
}

.card-corporate {
  box-shadow: 8px 8px 8px 4px rgba(0, 0, 0, 0.5); /* this adds the "card" effect */
  float: left;
  margin-left: 6%;
 height: 113%;
}

.card-corporate img{
height: 101%;
}

  .card-social p{
    background-color: rgb(0, 0, 0,0.7);
    color: white;
    font-size: 11px;
    margin-top: 135px;
    border-radius: 2px 1px 21px 21px;
    padding: 6px;
    margin-left: -19px;
    margin-right: -20px;
  }

  .card-wedding p{
    background-color: rgb(0, 0, 0,0.7);
    color: white;
    font-size: 11px;
    margin-top: 134px;
    border-radius: 2px 1px 21px 21px;
    padding: 6px;
    margin-left: -19px;
    margin-right: -20px;
  
  }

  .card-corporate p{
    background-color: rgb(0, 0, 0,0.7);
    color: white;
    font-size: 11px;
    margin-top: 134px;
    border-radius: 2px 1px 21px 21px;
    padding: 6px;
    margin-left: -20px;
    margin-right: -21px;
    
  }

  .word{
    margin-left: 11%;
  }

.left-content{
  position: absolute;
  margin-top: -138px;
  margin-left: 230px;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 104%;
}

.button1{
    border: 1px solid white;
    font-size: 15px;
    padding: 7px;
    width: 120px;
    border-radius: 0px;
    margin-left: 19%;
}


.btn1{
    border: 0px;
    font-size: 9px;
    padding: 4px;
    width: 50px;
    border-radius: 0px;
    background-color: rgb(0, 0, 0,0.7);
    border-radius: 25px;
    color: white;
    letter-spacing: 1px;
}

/*Events*/
/*cards gallery social*/

.card-sc-1{
  height: 175px; 
  width: 85%;
  border-radius: 9%;
}

.card-sc-1 img{
  height: 174px;
  border-radius: 9%;
}

.card-sc-2{
  height: 175px; 
  width: 79%; 
  margin-left: 0%;
  border-radius: 9%;
}

.card-sc-2 img{
  height: 174px;border-radius: 9%;
}

.card-sc-3{
  height: 175px; width: 78%; margin-left: -10%;border-radius: 9%;
}
.card-sc-3 img{
  height: 174px;border-radius: 9%;
}

.card-sc-4{
  height: 180px; width: 80%;border-radius: 9%;
}
.card-sc-4 img{
  height: 179px;border-radius: 9%;
}

.card-sc-5{
  width: 177%;
  border-radius: 6%;
}
.card-sc-5 img{
  border-radius: 6%;
}

.card-sc-6{
  height: 195px; 
  width: 81%; 
  margin-left: -371px; 
  margin-top: 200px;
  border-radius: 9%;
}

.card-sc-6 img{
  height: 195px;border-radius: 9%
}

/*cards gallery wedding*/

.card-wed-1{
  height: 175px; 
  width: 85%;
  border-radius: 9%;
}

.card-wed-1 img{
  height: 174px;
  border-radius: 9%;
}

.card-wed-2{
  height: 175px; 
  width: 79%; 
  margin-left: 0%;
  border-radius: 9%;
}

.card-wed-2 img{
  height: 174px;border-radius: 9%;
}

.card-wed-3{
  height: 175px; width: 78%; margin-left: -10%;border-radius: 9%;
}
.card-wed-3 img{
  height: 174px;border-radius: 9%;
}

.card-wed-4{
  height: 180px; width: 80%;border-radius: 9%;
}
.card-wed-4 img{
  height: 179px;border-radius: 9%;
}

.card-wed-5{
  width: 177%;
  border-radius: 6%;
}
.card-wed-5 img{
  border-radius: 6%;
}

.card-wed-6{
  height: 195px; 
  width: 81%; 
  margin-left: -371px; 
  margin-top: 200px;
  border-radius: 9%;
}

.card-wed-6 img{
  height: 195px;border-radius: 9%
}

/*cards gallery corporate*/

.card-cor-1{
  height: 175px; 
  width: 85%;
  border-radius: 9%;
}

.card-cor-1 img{
  height: 174px;
  border-radius: 9%;
}

.card-cor-2{
  height: 175px; 
  width: 79%; 
  margin-left: 0%;
  border-radius: 9%;
}

.card-cor-2 img{
  height: 174px;border-radius: 9%;
}

.card-cor-3{
  height: 175px; width: 78%; margin-left: -10%;border-radius: 9%;
}
.card-cor-3 img{
  height: 174px;border-radius: 9%;
}

.card-cor-4{
  height: 180px; width: 80%;border-radius: 9%;
}
.card-cor-4 img{
  height: 179px;border-radius: 9%;
}

.card-cor-5{
  width: 177%;
  border-radius: 6%;
}
.card-cor-5 img{
  border-radius: 6%;
}

.card-cor-6{
  height: 195px; 
  width: 81%; 
  margin-left: -371px; 
  margin-top: 200px;
  border-radius: 9%;
}

.card-cor-6 img{
  height: 195px;border-radius: 9%
}


* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .btn-social{
    border: 3px solid white;
    font-size: 15px;
    padding: 6px;
    width: 150px;
    border-radius: 0px;
  }
  .social{
    letter-spacing:3px;
    font-size: 65px;
    font-family: Montserrat;
  }
  .social-para{
    font-size: 12px;
    font-family: Montserrat;
  }
  .overlay-social{
    background-color:  rgba(0, 0, 0, 0.55);
  }

  /*contact*/
  .container-contact{
    background-image: url('./Images/contact.jpg');
    background-position: center;
    background-size: cover;
    
}
.submit{
  margin-top: 3%;
  margin-left: 41%;
}


.overlay{
    background-color: rgba(0, 0, 0, 0.55);
  }

body{
    overflow-x: hidden;
}

/*go to top*/
#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 9px;
  z-index: 99;
  border: none;
  outline: none;
  background-image: url(./Images/top.png);
  cursor: pointer;
  padding: 23px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: 48px 47px;
  }

  /*scroll bar*/

  .timeline-social{
    background:rgb(43, 42, 42);
    height: 534px;
    width: 4px;
    border-radius: 5px;
    margin: 20px 0 0 50px;
    display: block;
    float: left;
    position: absolute;
    margin-top: -44%;
  }

  .timeline-wedding{
    background:rgb(43, 42, 42);
    height: 534px;
    width: 4px;
    border-radius: 5px;
    margin: 20px 0 0 50px;
    display: block;
    float: left;
    position: absolute;
    margin-top: -44%;
  }
  
  .timeline-corporate{
    background:rgb(43, 42, 42);
    height: 534px;
    width: 4px;
    border-radius: 5px;
    margin: 20px 0 0 50px;
    display: block;
    float: left;
    position: absolute;
    margin-top: -44%;
  }

  .point{
    background:rgb(36, 35, 35);
    width:20px;
    height:20px;
    display:inline-block;
    border-radius:100%;
    position:absolute;
    left:-7.5px;
  }
  
  .point a{
    display:block;
    width:100%;
    height:100%;
  }
  
  .point-1{
    top:20px;
  
  }
  
  .point-2{
    top:50%;
  }
  
  .point-3{
    bottom:20px;
  }

  .point.active
  {background:white}

 /*map*/
  /* Set the size of the div element that contains the map */
  #map {
    height: 202px;
    width: 99%;
    margin-left: -10%;
    margin-top: -14%;
}
