/*HomePage*/
.navbar {
    transition: all 0.4s;
}

.home-text{
  color: white; 
  font-family: Montserrat; 
  font-size: 60px;
}

.lead-para{
  color: white; 
  font-family: Montserrat; 
  font-size: 32px;
}


/* Change navbar styling on scroll */
.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #555;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}


/* Change navbar styling on small viewports*/ 
@media (max-width: 991.98px) {
    .navbar {
        background: #fff;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }
}

.text-small {
    font-size: 0.9rem !important;
}

.header{
    background-image: url('./Images/HomePage.jpg');
    background-position: center;
    background-size: cover;  
  }

  .overlay{
    background-color: rgba(0, 0, 0, 0.55);
  }

  .nav-item{
      color:white;
  }

/*button*/
.button {
    display: inline-block;
    border-radius: 8px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(133, 30, 30,0.3);
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 6px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 3px;
    margin-bottom: 29%
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  /*about us*/
  .aboutimg {
     background-image: url(./Images/contact.jpg);
     background-position: center;
     background-size: cover;  
  }

  /*card*/
     
 .card-social {
    box-shadow: 8px 8px 8px 4px rgba(0, 0, 0, 0.5); /* this adds the "card" effect */
    
  
  }

  .card-wedding {
    box-shadow: 8px 8px 8px 4px rgba(0, 0, 0, 0.5); /* this adds the "card" effect */
   
}


.card-corporate {
    box-shadow: 8px 8px 8px 4px rgba(0, 0, 0, 0.5); /* this adds the "card" effect */
  }