/*HomePage*/
.navbar {
    transition: all 0.4s;
}

.home-text{
  color: white; 
  font-family: Montserrat; 
  font-size: 60px;
}

.lead-para{
  color: white; 
  font-family: Montserrat; 
  font-size: 32px;
}


/* Change navbar styling on scroll */
.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #555;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}


/* Change navbar styling on small viewports*/ 
@media (max-width: 991.98px) {
    .navbar {
        background: #fff;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }
}

.text-small {
    font-size: 0.9rem !important;
}

.header{
    background-image: url('./Images/HomePage.jpg');
    background-position: center;
    background-size: cover;  
  }

  .nav-item{
      color:white;
  }

/*button*/
.button {
    display: inline-block;
    border-radius: 8px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(133, 30, 30,0.3);
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 6px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 3px;
    margin-bottom: 29%
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  /*about us*/
  .aboutimg {
     background-image: url(./Images/contact.jpg);
     background-position: center;
     background-size: cover;  
  }

  /*card*/
     
 .card-social {
  box-shadow: 8px 8px 8px 4px rgba(0, 0, 0, 0.5);
  width: 78%;
  border-radius: 22%; /* this adds the "card" effect */
  }

.card-img{
  border-radius: 22%;
}

  .card-wedding {
    box-shadow: 8px 8px 8px 4px rgba(0, 0, 0, 0.5);
    width: 78%;
    border-radius: 22%;
   
}


.card-corporate {
  box-shadow: 8px 8px 8px 4px rgba(0, 0, 0, 0.5);
  width: 78%;
  border-radius: 22%;
  }


/*social*/
.social-event-bg{
    background-image: url(./Images/birthday.jpg);
    background-position: center;
    background-size: cover;  
 background-color: black;

}

/*content*/
.social{
    margin-left: 18%;
    letter-spacing:3px;
    font-size: 65px;
    font-family: Montserrat;
    color: white;
}

.social-para{
    margin-left: 18%;
    font-size: 12px;
    font-family: Montserrat;
    color: white;
}

/*gallery*/
.overlay-social img{
    width: 88%;
    height: 87%;
}

.big{
    width: 88%;
    height: 87%;
}

.overlay-social{
    background-color:  rgba(0, 0, 0, 0.55);
  }
  

  /*button*/
  .btn-social{
    border: 3px solid white;
    font-size: 15px;
    padding: 6px;
    width: 150px;
    border-radius: 0px;
    margin-left: 10%;
  }

  /*scrollbar*/
  .timeline-social{
    background: rgb(43, 42, 42);
    height: 534px;
    width: 4px;
    border-radius: 5px;
    margin: 20px 0 0 50px;
    display: block;
    float: left;
    position: relative;
    margin-top: -44%;
  }

  .timeline-wedding{
    background:rgb(43, 42, 42);
    height: 534px;
    width: 4px;
    border-radius: 5px;
    margin: 20px 0 0 50px;
    display: block;
    float: left;
    position: absolute;
    margin-top: -44%;
  }

  .timeline-corporate{
    background:rgb(43, 42, 42);
    height: 534px;
    width: 4px;
    border-radius: 5px;
    margin: 20px 0 0 50px;
    display: block;
    float: left;
    position: absolute;
    margin-top: -44%;
  }
  
  .point{
    background:rgb(36, 35, 35);
    width:20px;
    height:20px;
    display:inline-block;
    border-radius:100%;
    position:absolute;
    left:-7.5px;
  }
  
  .point a{
    display:block;
    width:100%;
    height:100%;
  }
  
  .point-1{
    top:20px;
  
  }
  
  .point-2{
    top:50%;
  }
  
  .point-3{
    bottom:20px;
  }

  .point.active
  {background:white}

/*wedding*/
.wedding-event-bg{
    background-image: url(./Images/wedding.jpg);
    background-position: center;
    background-size: cover; 

}

/*corporate*/
.corporate-event-bg{
  background-image: url(./Images/corporate.jpg);
  background-position: center;
  background-size: cover;  
}

.overlay{
  background-color:  rgba(0, 0, 0, 0.55);
}

/*contact*/
.contact-bg{
  background-image: url(./Images/contact.jpg);
  background-position: center;
  background-size: cover;  
}

.footer{
  color: white;
  font-family: Montserrat;
}

.add{
  margin-top: -7%;
    margin-left: 22%;
}

.num{
  margin-top: -7%;
    margin-left: 22%;
}

.email{
  margin-top: -7%;
    margin-left: 22%;
}

.map-content{
  color: white;
  font-family: Montserrat;
}

.map{
  background-image: url(./Images/map.png);
  width: 91%;
  height: 86%;
}

/*go to top*/
#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 9px;
  z-index: 99;
  border: none;
  outline: none;
  background-image: url(./Images/top.png);
  cursor: pointer;
  padding: 23px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: 48px 47px;
  }

body{
  overflow-x: hidden;
}


* {
    box-sizing: border-box;
  }
  