/*small tablet to big tablets: 993 to 1200
@media only screen and (max-width: 1200px){
 home page
 .home-text{
    color: white;
    font-family: Montserrat;
    font-size: 52px;
    margin-top: -1%;
  }

  .lead-para{
    color: white;
    font-family: Montserrat;
    font-size: 26px;
  }

  .button-sm{
    width: 96%;
    margin-bottom: 52%;
}

  social
    scroll
    .timeline-social{
        background: rgb(43, 42, 42);
        height: 549px;
        width: 4px;
        border-radius: 5px;
        margin: 21px 0 0 13px;
        display: block;
        float: left;
        position: absolute;
        margin-top: -58%;
    }

    .card-sc-1{
        height: 175px;
        width: 98%;
        border-radius: 9%;
    }

    .card-sc-1 img {
        height: 181px;
        border-radius: 9%;
    }

    .card-sc-2{
        height: 177px;
        width: 95%;
        margin-left: 4%;
        border-radius: 9%;
    }

    .card-sc-2 img {
        height: 180px;
        border-radius: 9%;
    }

    .card-sc-3{
        height: 175px;
        width: 93%;
        margin-left: 2%;
        border-radius: 9%;
    }

    .card-sc-3 img {
        height: 174px;
    border-radius: 9%;
    }

    .card-sc-4 {
        height: 180px;
        width: 80%;
        border-radius: 9%;
    }

    .card-sc-4 img {
        height: 179px;
        border-radius: 9%;
    }

    .card-sc-5 {
        width: 201%;
        border-radius: 6%;
    }

    .card-sc-5 img {
        border-radius: 6%;
    }

    .card-sc-6 {
        height: 195px;
        width: 81%;
        margin-left: -371px;
        margin-top: 200px;
        border-radius: 9%;
    }

    wedding
    .timeline-wedding{
        background: rgb(43, 42, 42);
        height: 549px;
        width: 4px;
        border-radius: 5px;
        margin: 21px 0 0 13px;
        display: block;
        float: left;
        position: absolute;
        margin-top: -58%;
    }

    .card-wed-1{
        height: 175px;
        width: 98%;
        border-radius: 9%;
    }

    .card-wed-1 img {
        height: 181px;
        border-radius: 9%;
    }

    .card-wed-2{
        height: 177px;
        width: 95%;
        margin-left: 4%;
        border-radius: 9%;
    }

    .card-wed-2 img {
        height: 180px;
        border-radius: 9%;
    }

    .card-wed-3{
        height: 175px;
        width: 93%;
        margin-left: 2%;
        border-radius: 9%;
    }

    .card-wed-3 img {
        height: 174px;
    border-radius: 9%;
    }

    .card-wed-4 {
        height: 180px;
        width: 80%;
        border-radius: 9%;
    }

    .card-wed-4 img {
        height: 179px;
        border-radius: 9%;
    }

    .card-wed-5 {
        width: 201%;
        border-radius: 6%;
    }

    .card-wed-5 img {
        border-radius: 6%;
    }

    .card-wed-6 {
        height: 195px;
        width: 81%;
        margin-left: -371px;
        margin-top: 200px;
        border-radius: 9%;
    }

    corporate
    .timeline-corporate{
        background: rgb(43, 42, 42);
        height: 549px;
        width: 4px;
        border-radius: 5px;
        margin: 21px 0 0 13px;
        display: block;
        float: left;
        position: absolute;
        margin-top: -58%;
    }

    .card-cor-1{
        height: 175px;
        width: 98%;
        border-radius: 9%;
    }

    .card-cor-1 img {
        height: 181px;
        border-radius: 9%;
    }

    .card-cor-2{
        height: 177px;
        width: 95%;
        margin-left: 4%;
        border-radius: 9%;
    }

    .card-cor-2 img {
        height: 180px;
        border-radius: 9%;
    }

    .card-cor-3{
        height: 175px;
        width: 93%;
        margin-left: 2%;
        border-radius: 9%;
    }

    .card-cor-3 img {
        height: 174px;
    border-radius: 9%;
    }

    .card-cor-4 {
        height: 180px;
        width: 80%;
        border-radius: 9%;
    }

    .card-cor-4 img {
        height: 179px;
        border-radius: 9%;
    }

    .card-cor-5 {
        width: 201%;
        border-radius: 6%;
    }

    .card-cor-5 img {
        border-radius: 6%;
    }

    .card-cor-6 {
        height: 195px;
        width: 81%;
        margin-left: -371px;
        margin-top: 200px;
        border-radius: 9%;
    }
}*/


/*small phones to small tablets: 769 to 992*/
@media only screen and (max-width: 992px){
 /*home page*/
 .home-text{
    color: white;
font-family: Montserrat;
font-size: 48px;
margin-top: 5%;
}

  .lead-para{
    color: white; 
    font-family: Montserrat; 
    font-size: 22px;
}

  .button-sm{
    width: 96%;
    margin-bottom: 37%;
}
}    

/*small phones to small tablets: 481 to 768*/
@media only screen and (max-width: 768px){
    /*home page*/
    .home-text{
        color: white;
    font-family: Montserrat;
    font-size: 48px;
    margin-top: 3%;
    }

      .lead-para{
        color: white; 
        font-family: Montserrat; 
        font-size: 22px;
    }

      .button-sm{
        width: 96%;
        margin-bottom: 36%;
    }

    /*about us*/
    .about-us{
        margin-bottom: 7%;
      }

    /*about us content*/
    
    .card-social {
        box-shadow: 8px 8px 8px 4px rgba(0, 0, 0, 0.5); /* this adds the "card" effect */
        float: left;
       height: 113%;
    }

    .card-social img{
       height: 65%;
    }

    .card-wedding {
            box-shadow: 8px 8px 8px 4px rgba(0, 0, 0, 0.5); /* this adds the "card" effect */
            float: left;
            margin-left: 6%;
           height: 113%;
      }

      .card-wedding img{
       height: 65%;
    }

      .card-corporate {
        box-shadow: 8px 8px 8px 4px rgba(0, 0, 0, 0.5); /* this adds the "card" effect */
        float: left;
        margin-left: 6%;
       height: 113%;
  }

  .card-corporate img{
   height: 65%;
}

  .card-social p{
    background-color: rgb(0, 0, 0,0.7);
    color: white;
    font-size: 13px;
    margin-top: 130px;
    border-radius: 2px 1px 21px 21px;
    padding: 6px;
    margin-left: -19px;
    margin-right: -20px;
  }

  .card-wedding p{
    background-color: rgb(0, 0, 0,0.7);
    color: white;
    font-size: 13px;
    margin-top: 130px;
    border-radius: 2px 1px 21px 21px;
    padding: 6px;
    margin-left: -19px;
    margin-right: -20px;
  
  }

  .card-corporate p{
    background-color: rgb(0, 0, 0,0.7);
    color: white;
    font-size: 13px;
    margin-top: 130px;
    border-radius: 2px 1px 21px 21px;
    padding: 6px;
    margin-left: -19px;
    margin-right: -20px;
    
  }

  .word{
    margin-left: 17%;
  }


    
    /*social*/
    /*scroll*/
    .timeline-social{
        background: rgb(43, 42, 42);
        height: 360px;
        width: 4px;
        border-radius: 5px;
        margin: 21px 0 0 664px;
        display: block;
        float: left;
        position: absolute;
        margin-top: -85%;
    }

    .card-sc-1{
        width: 95%;
        margin-bottom: 15%;
        margin-top: 2%;
        margin-left: 2%;
    }

    .card-sc-1 img {
        height: 182px;
    border-radius: 9%;
    }

    .card-sc-2{
        width: 97%;
        margin-bottom: 22%;
        margin-top: 5%;
        margin-left: 3%;
    }

    .card-sc-2 img {
        height: 188px;
        border-radius: 9%;
    }

    .card-sc-3{
        width: 94%;
        margin-bottom: 19%;
        margin-top: 7%;
        margin-left: 7%;
    }

    .card-sc-3 img {
        height: 188px;
        border-radius: 9%
    }


    /*wedding*/
    .timeline-wedding{
        background: rgb(43, 42, 42);
        height: 360px;
        width: 4px;
        border-radius: 5px;
        margin: 21px 0 0 664px;
        display: block;
        float: left;
        position: absolute;
        margin-top: -84%;
    }

    .card-wed-1{
        width: 95%;
        margin-bottom: 15%;
        margin-top: 2%;
        margin-left: 2%;
    }

    .card-wed-1 img {
        height: 185px;
    border-radius: 9%;
    }

    .card-wed-2{
        width: 97%;
        margin-bottom: 22%;
        margin-top: 5%;
        margin-left: 3%;
    }

    .card-wed-2 img {
        height: 188px;
        border-radius: 9%;
    }

    .card-wed-3{
        width: 94%;
        margin-bottom: 19%;
        margin-top: 7%;
        margin-left: 7%;
    }

    .card-wed-3 img {
        height: 188px;
        border-radius: 9%
    }

    /*corporate*/
    .timeline-corporate{
        background: rgb(43, 42, 42);
        height: 360px;
        width: 4px;
        border-radius: 5px;
        margin: 21px 0 0 664px;
        display: block;
        float: left;
        position: absolute;
        margin-top: -84%;
    }

    .card-cor-1{
        width: 93%;
        margin-bottom: 15%;
        margin-top: -1%;
        margin-left: 4%;
    }

    .card-cor-1 img {
        height: 182px;
        border-radius: 9%;
    }

    .card-cor-2{
        width: 96%;
    margin-bottom: 22%;
    margin-top: -96%;
    margin-left: 228%;
    }

    .card-cor-2 img {
        height: 184px;
        border-radius: 9%;
    }

    .card-cor-3{
        width: 94%;
        margin-bottom: 19%;
        margin-top: -5%;
        margin-left: 7%;
    }

    .card-cor-3 img {
        height: 180px;
        border-radius: 9%;
    }

    /*contact*/
    .only-form{
        margin-bottom: 7%;
    }

    .submit {
        margin-right: 13%;
        margin-top: 5%;
        margin-left: 41%;
    }

    .form-row{
        margin-left: 6%;
        margin-right: 6%;
        margin-top: 3%;
    }

    .comment{
        margin-left: 7%;
        margin-top: 0%;
        width: 86%;
    }

    .footer-container{
        margin-top: 22%;
    }

    .contact-us{
        margin-left: 3%;
        margin-top: 4%;
    }

    .map{
        margin-top: -4%;
        margin-left: 51%;
    }

    .paragraph{
        margin-top: 0%;
    margin-left: 5%;
    margin-right: 41%;
    }

    .con-add{
        margin-top: 2%;
        margin-left: 3%;
    }

    .add2{
        margin-top: 2%;
        margin-left: 2%;
    }

    #map{
        margin-top: -17%;
        margin-left: -14%;
    }

    .phn{
        margin-left: 1%;
    margin-top: 2%;
    }

    .email{
        margin-left: 1%;
    }

    /*button top*/
    #back-to-top{
        right: 4px;
        padding: 18px;
        border-radius: 8px;
        background-size: 38px 37px;
    }
  }


/*small phones from 0 to 500px*/
@media only screen and (max-width: 500px){

    /*home page*/
    .home-text{
        color: white; 
        font-family: Montserrat; 
        font-size: 38px;
         margin-top: 14%;
      }

      .lead-para{
        color: white; 
        font-family: Montserrat; 
        font-size: 22px;
      }

      .button-sm{
          width: 96%;
          margin-bottom: 28%;
      }

    /*about us page*/
    .about-us{
        margin-bottom: 7%;
      }

    /*about us content*/
    
    .card-social {
        box-shadow: 8px 8px 8px 4px rgba(0, 0, 0, 0.5); /* this adds the "card" effect */
        float: left;
        height: 105%;
    }

    .card-social img{
        height:106%;
    }

    .card-wedding {
            box-shadow: 8px 8px 8px 4px rgba(0, 0, 0, 0.5); /* this adds the "card" effect */
            float: left;
            margin-left: 6%;
            height: 105%;
      }

      .card-wedding img{
        height:106%;
    }

      .card-corporate {
        box-shadow: 8px 8px 8px 4px rgba(0, 0, 0, 0.5); /* this adds the "card" effect */
        float: left;
        margin-left: 6%;
        height: 105%;
  }

  .card-corporate img{
    height:106%;
}

  .card-social p{
    background-color: rgb(0, 0, 0,0.7);
    color: white;
    font-size: 9px;
    margin-top: 122px;
    border-radius: 2px 1px 21px 21px;
    padding: 6px;
    margin-left: -19px;
    margin-right: -20px;
  }

  .card-wedding p{
    background-color: rgb(0, 0, 0,0.7);
    color: white;
    font-size: 9px;
    margin-top: 122px;
    border-radius: 2px 1px 21px 21px;
    padding: 6px;
    margin-left: -19px;
    margin-right: -20px;
  
  }

  .card-corporate p{
    background-color: rgb(0, 0, 0,0.7);
    color: white;
    font-size: 9px;
    margin-top: 122px;
    border-radius: 2px 1px 21px 21px;
    padding: 6px;
    margin-left: -24px;
    margin-right: -21px;
    
  }

    
      /*event pages - social*/
     .btn-social{
        width: 25%;
        padding: 5px;
    }

    /*scroll*/
    .timeline-social{
        background: rgb(43, 42, 42);
        height: 348px;
        width: 4px;
        border-radius: 5px;
        margin: 21px 0 0 418px;
        display: block;
        float: left;
        position: absolute;
        margin-top: -142%;
    }

    .card-sc-1{
        width: 68%;
        margin-bottom: 18%;
        margin-top: 7%;
        margin-left: 15%;
    }

    .card-sc-1 img {
        height: 222px;
        border-radius: 9%;
    }

    /*wedding*/
    .card-wed-1{
        width: 68%;
        margin-bottom: 18%;
        margin-top: 5%;
        margin-left: 15%;
    }

    .card-wed-1 img {
        height: 222px;
        border-radius: 9%;
    }

    .timeline-wedding{
        background: rgb(43, 42, 42);
    height: 348px;
    width: 4px;
    border-radius: 5px;
    margin: 21px 0 0 418px;
    display: block;
    float: left;
    position: absolute;
    margin-top: -142%;
    }

     /*corporate*/
     .card-cor-1{
        width: 68%;
        margin-bottom: 18%;
        margin-top: 5%;
        margin-left: 15%;
    }

    .card-cor-1 img {
        height: 222px;
        border-radius: 9%;
    }

    .timeline-corporate{
        background: rgb(43, 42, 42);
        height: 314px;
        width: 4px;
        border-radius: 5px;
        margin: 21px 0 0 441px;
        display: block;
        float: left;
        position: absolute;
        margin-top: -132%;
    }

    /*button top*/
    #back-to-top{
        right: 8px;
        padding: 18px;
        border-radius: 8px
    }

    /*contact us*/
    

    .contact-us {
        margin-left: 2%;
    }

    .paragraph {
        margin-top: 1%;
        
        margin-right: 14%;
    }

    .add2 {
        margin-top: -4%;
        margin-left: 17%;
    }

    .phn {
        margin-left: 0%;
        margin-top: 3%;
    }

    .phn h6{
        margin-top: -4%;
        margin-left: 14%;
    }

    .email h6{
        margin-top: -5%;
        margin-left: 15%;
    }

    .only-form{
        margin-bottom: 26%;
    }

    .submit {
        margin-top: 9%;
        margin-left: 32%;
    }

    .form-row{
        margin-left: 6%;
        margin-right: 6%;
        margin-top: 9%;
    }

    .comment{
        margin-left: 7%;
        margin-top: 0%;
        width: 86%;
    }
}