/*small tablet to big tablets: 768 to 1023*/
@media only screen and (max-width: 1023px){

}


/*small phones to small tablets: 481 to 767*/
@media only screen and (max-width: 767px){

}


/*small phones from 0 to 480px*/
@media only screen and (max-width: 500px){

    /*home page*/
    .home-text{
        color: white; 
        font-family: Montserrat; 
        font-size: 38px;
         margin-top: 14%;
      }

      .lead-para{
        color: white; 
        font-family: Montserrat; 
        font-size: 22px;
      }

      .button-sm{
          width: 96%;
          margin-bottom: 28%;
      }

    /*about us page*/

    /*about us content*/
    


    .card-social {
        box-shadow: 8px 8px 8px 4px rgba(0, 0, 0, 0.5); /* this adds the "card" effect */
        float: left;
    }

    .card-wedding {
            box-shadow: 8px 8px 8px 4px rgba(0, 0, 0, 0.5); /* this adds the "card" effect */
            float: left;
      }

      .card-corporate {
        box-shadow: 8px 8px 8px 4px rgba(0, 0, 0, 0.5); /* this adds the "card" effect */
        float: left;
  }

      .card-social p{
        background-color: rgb(0, 0, 0,0.7);
        color: white;
        font-size: 9px;
        margin-top: 590px;
        border-radius: 2px 2px 21px 21px;
        margin-right: 446px;
        padding: 6px;
        margin-left: 6px;
      }  
    
      /*event pages - social*/

   
     .btn-social{
        width: 25%;
        padding: 5px;
    }

    /*scroll*/
    .timeline-social{
        background: rgb(43, 42, 42);
        height: 348px;
        width: 4px;
        border-radius: 5px;
        margin: 21px 0 0 418px;
        display: block;
        float: left;
        position: absolute;
        margin-top: -142%;
    }

    .card-sc-1{
        width: 68%;
        margin-bottom: 22%;
        margin-top: 5%;
        margin-left: 15%;
    }

    .card-sc-1 img {
        height: 222px;
        border-radius: 9%;
    }

    /*wedding*/
    .card-wed-1{
        width: 68%;
        margin-bottom: 22%;
        margin-top: 5%;
        margin-left: 15%;
    }

    .card-wed-1 img {
        height: 222px;
        border-radius: 9%;
    }

    .timeline-wedding{
        background: rgb(43, 42, 42);
    height: 348px;
    width: 4px;
    border-radius: 5px;
    margin: 21px 0 0 418px;
    display: block;
    float: left;
    position: absolute;
    margin-top: -142%;
    }

     /*corporate*/
     .card-cor-1{
        width: 68%;
        margin-bottom: 22%;
        margin-top: 5%;
        margin-left: 15%;
    }

    .card-cor-1 img {
        height: 222px;
        border-radius: 9%;
    }

    .timeline-corporate{
        background: rgb(43, 42, 42);
        height: 314px;
        width: 4px;
        border-radius: 5px;
        margin: 21px 0 0 441px;
        display: block;
        float: left;
        position: absolute;
        margin-top: -132%;
    }

    /*button top*/
    #back-to-top{
        right: 8px;
        padding: 18px;
        border-radius: 8px
    }
}