* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .btn-social{
    border: 3px solid white;
    font-size: 15px;
    padding: 6px;
    width: 150px;
    border-radius: 0px;
  }
  .social{
    letter-spacing:3px;
    font-size: 65px;
    font-family: Montserrat;
  }
  .social-para{
    font-size: 12px;
    font-family: Montserrat;
  }
  .overlay-social{
    background-color:  rgba(0, 0, 0, 0.55);
  }

  /*scroll*/
  .dummy-section{
    background:#000;
    width:100%;
    height:100vh;
    position: absolute;
  }
  
  .timeline{
    background:rgba(77, 75, 75);
    height: 534px;
    width: 4px;
    border-radius: 5px;
    margin: 20px 0 0 50px;
    display: block;
    float: left;
    position: absolute;
    margin-top: -47%;
  }
  
  .point{
    background:rgba(77, 75, 75);
    width:20px;
    height:20px;
    display:inline-block;
    border-radius:100%;
    position:absolute;
    left:-7.5px;
  }
  
  .point a{
    display:block;
    width:100%;
    height:100%;
  }
  
  .point-1{
    top:20px;
  
  }
  
  .point-2{
    top:50%;
  }
  
  .point-3{
    bottom:20px;
  }

  a:active {
    color: yellow;
  }
  
  